{% extends "base.html" %}

<!-- Title -->
{% block title %}RobinNest Stock Comparison App{% endblock %}

<!-- Pretty much what'll be in the page -->
{% block content %}
<!-- Title Header -->
<div>
	<br><br>
	<h1 class="dsiplay-1"><i class="tim-icons icon-badge text-primary"></i> Credits</h1>
	A List of Resources
	<hr>
</div>

<!-- Card -->
<div class="row" data-aos="fade-up" data-aos-duration="1000">
<div class="col-12">
	<div class="card card-chart">
	<div class="card-header">
		<div class="row">
			
		<div class="col-12 text-left">
			<h5 class="card-category">Resource Attribution</h5>
			<h2 class="card-title">Front-End Template</h2>
		</div>
		<div class="col-12 text-left">
			<p class="card-text col-sm-6 text-left">
				<b>Front-End Template</b> by <a href='https://www.creative-tim.com/' target="_blank">Creative Tim</a>
			</p>
			<br><br>

		</div>
		</div>
	</div>
	</div>
</div>
</div>

<!-- Card -->
<div class="row" data-aos="fade-up" data-aos-duration="1000">
<div class="col-12">
	<div class="card card-chart">
	<div class="card-header">
		<div class="row">
			
		<div class="col-12 text-left">
			<h5 class="card-category">Resource Attribution</h5>
			<h2 class="card-title">Site Icon</h2>
		</div>
		<div class="col-12 text-left">
			<p class="card-text col-sm-6 text-left">
				<b>Site Icon</b> (Bird head outline icon) by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
			</p>
			<br><br>

		</div>
		</div>
	</div>
	</div>
</div>
</div>

<!-- Card -->
<div class="row" data-aos="fade-up" data-aos-duration="1000">
<div class="col-12">
	<div class="card card-chart">
	<div class="card-header">
		<div class="row">
			
		<div class="col-12 text-left">
			<h5 class="card-category">Resource Attribution</h5>
			<h2 class="card-title">Frameworks</h2>
		</div>
		<div class="col-12 text-left">
			<p class="card-text col-sm-6 text-left">
				<b>HTML</b> by <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>, a <a href='https://www.python.org/'>Python</a> web framework
			</p>
			<p class="card-text col-sm-6 text-left">
				<b>CSS</b> by <a href="https://getbootstrap.com/">Bootstrap</a>,
			</p>
			<p class="card-text col-sm-6 text-left">
				<b>JS</b> by <a href="https://michalsnik.github.io/aos/">Animate on Scroll</a>, <a href='https://www.chartjs.org/'>Chart.JS</a>
			</p>
			
			<br><br>

		</div>
		</div>
	</div>
	</div>
</div>
</div>

{% endblock %}