{% extends "base.html" %}

<!-- Title -->
{% block title %}
	How To Use | RobinNest Stock Comparisons
{% endblock %}

<!-- Pretty much what'll be in the page -->
{% block content %}
<div>
	<br><br>
	<h1 class="dsiplay-1"><i class="tim-icons icon-paper text-primary"></i> How to Use</h1>
	A Simple Guide 
	<hr>
</div>

<!-- Card 1: Step 1 -->
<div class="row" data-aos="fade-up" data-aos-duration="1000">
<div class="col-12">
	<div class="card card-chart">
	<div class="card-header">
		<div class="row">

		<!-- Heading Text -->
		<div class="col-12 text-left">
			<h5 class="card-category">Step One</h5>
			<h2 class="card-title">Search the Stocks</h2>
			<hr>
		</div>
		<!-- Body -->
		<div class="col-12 text-left">
			<p class="card-text col-sm-6 text-left">
				Go to the "Stock Price" input, enter a price and click the "View Stocks" button. The page will then load all popular stocks worth up to the price you've entered.
			</p>
			<br><br>
		</div>
		</div>

	</div>
	</div>
</div>
</div>

<!-- Card 2: Step 2 -->
<div class="row" data-aos="fade-up" data-aos-duration="1000">
<div class="col-12">
	<div class="card card-chart">
	<div class="card-header">
		<div class="row">
		<!-- Heading Text -->
		<div class="col-12 text-left">
			<h5 class="card-category">Step Two</h5>
			<h2 class="card-title">View the Stocks</h2>
			<hr>
		</div>
		<!-- Body -->
		<div class="col-12 text-left">
			<p class="card-text col-sm-6 text-left">
				Find a stock that you'd like to view and click the "View <i>stock</i>" link under the Dashboard column. This will take you to the stock dashboard.
			</p>
			<br><br>
		</div>
		</div>
	</div>
	</div>
</div>
</div>
{% endblock %}